  <div class="continer">
    <div class="row">
  <h5 class="ml-4">ジャンル検索</h5>
    <% genres.each do |genre| %>
      <%= link_to genre_path(genre.id) do %>
        <p class="ml-4"><%= genre.genre_name %></p>
      <% end %>
    <% end %>
    </div>
  </div>