  <div class="continer">
    <h5 class="ml-4 mt-3">ジャンル検索</h5>
    <div class="row ml-4">
      <% genres.each do |genre| %>
        <%= link_to genre_path(genre.id) do %>
          <p class="ml-4"><%= genre.genre_name %></p>
        <% end %>
      <% end %>
    </div>
  </div>