<% visiter = notification.visiter %>
<% post = notification.post %>

<h5 class="user-view clearfix mt-3 ml-5 card p-4 col-10 light2">
  <div class="row">
    <div class="d-flex align-items-end">
      <%= link_to user_path(notification.visiter) do %>
        <%= image_tag notification.visiter.user_image, size: "50x50" %>
      <% end %>
      <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span>
    </div>
  </div>
</h5>