<footer class="bg-dark text-white pt-2 pb-2">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <h5>Sweets Home</h5>
      </div>
    </div>
  </div>
</footer>